In [2]:
import pandas as pd
import numpy as np

In [65]:
data = pd.read_csv("Challenge2_IntCode.csv", header=None).T
data.columns = ['Value']
#data = data.set_index('Value');
data.head(10)
data['Index']=data.Value
data = data.set_index('Index');

   Value
0      1
1      0
2      0
3      3
4      1
5      1
6      2
7      3
8      1
9      3

In [73]:
data.size

129

In [67]:
data.head(10)

       Value
Index
1          1
0          0
0          0
3          3
1          1
1          1
2          2
3          3
1          1
3          3